本项目是一个anchor solana合约，目标是实现类似balancer的多token交换

但是balancer硬编码了8个token，咱们的目标是1024个token

tests/ammv2文件夹是标准的uniswap实现，在此文件夹下仅是防止编译不通过

tests/openbook-v2是标准的订单簿实现，你需要参考他来实现数组，他用的是树结构，你要实现数组，并用平衡树来实现订单簿

你需要根据ammv2的编程风格，实现一个多token交换系统。每一个token包含了vault，mint，weight。

遵循“权重恒定价值”公式。

有效的避免了幂计算的同时，leverage到了CPMM的保护流动性优势。
